<head>
  <link rel="stylesheet" href="/css/bootstrap/bootstrap-icons.css">
  <link rel="stylesheet" href="/css/matrices_brechas.css">
  <link rel="stylesheet" href="/css/pop-up.css">
  <link rel="stylesheet" href="/css/estilos.css">

</head>

{{>navigation}}
{{>navigation_vertical}}

<main>

<!-- MODAL PICO -->

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table>
          <thead>
            <tr>
              <th>PICOCㅤ<i style="color: rgb(255, 81, 81)" class="bi bi-info-circle-fill" type="button"></i></th>
              <th>PREGUNTASㅤ<i style="color: rgb(255, 220, 81)" class="bi bi-question-circle-fill" data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip-class" data-bs-placement="top" data-bs-title="Las preguntas tienen que ir en relación a tu tema de investigación previamente escogido, te servirán para formular tus palabras clave."></i></th>
              <th>PALABRAS CLAVEㅤ<i style="color: rgb(255, 220, 81)" class="bi bi-question-circle-fill" data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip-class" data-bs-placement="top" data-bs-title="Las palabras clave tienen que ir separadas por una coma y un espacio ',    ' por ejemplo: Palabra1, Palabra2, Palabra3, etc. Caso contrario la ecuación se generará de forma incorrecta."></i></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Población</td>
              <td><textarea class="form-control" id="pregunta-población-picoc" required></textarea></td>
              <td><textarea class="form-control" id="población-picoc" required></textarea></td>
            </tr>
            <tr>
              <td>Intervención</td>
              <td><textarea class="form-control" id="pregunta-intervencion-picoc" required></textarea></td>
              <td><textarea class="form-control" id="intervencion-picoc" required></textarea></td>
            </tr>
            <tr>
              <td>Comparación</td>
              <td><textarea class="form-control" id="pregunta-comparacion-picoc" required></textarea></td>
              <td><textarea class="form-control" id="comparacion-picoc" required></textarea></td>
            </tr>
            <tr>
              <td>Resultado</td>
              <td><textarea class="form-control" id="pregunta-resultado-picoc" required></textarea></td>
              <td><textarea class="form-control" id="resultado-picoc" required></textarea></td>
            </tr>
            <tr>
              <td>Contexto</td>
              <td><textarea class="form-control" id="pregunta-contexto-picoc" required></textarea></td>
              <td><textarea class="form-control" id="contexto-picoc" required></textarea></td>
            </tr>
          </tbody>
        </table>
        <hr>
        <td>Ecuación de búsqueda</td>
        <td><textarea class="form-control" id="ecuacion-picoc" required></textarea></td>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button id="copiarTextoPicoc" type="button" class="btn btn-danger">Copiar ecuación</button>
        <button id="generarEcuacion" type="button" class="btn btn-primary">Generar ecuación Scopus</button>
        <script src="/js/ecuacion.js"></script>
      </div>
    </div>
  </div>

</div>

<!-- MODAL DE INICIO DE PAGINA -->

<div class="pop-up">
    <div class="pop-up-wrap">
        <div id="carouselExampleCaptions" class="carousel slide">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="images/project/project-image06.png" class="d-block w-100" alt="1">
                <div class="carousel-caption d-none d-md-block">
                  <h5>First slide label</h5>
                  <p>Some representative placeholder content for the first slide.</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="images/project/project-image06.png" class="d-block w-100" alt="2">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Second slide label</h5>
                  <p>Some representative placeholder content for the second slide.</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="images/project/project-image06.png" class="d-block w-100" alt="3">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Third slide label</h5>
                  <p>Some representative placeholder content for the third slide.</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="images/project/project-image06.png" class="d-block w-100" alt="">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Third slide label</h5>
                  <p>Some representative placeholder content for the third slide.</p>
                </div>
              </div>
            </div>
            <i class="bi bi-x-square-fill" id="close"></i>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
    </div>
</div>

<!-- FIN MODAL -->

<!-- MODAL IMPORTAR DATOS -->

<div class="modal fade" id="ModalEstadoArte" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5 ">Selección de tema por medio de archivo .BIB</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
            <h2>Subir archivo .bib</h2>
            <form id="upload-form">
                <input type="file" id="bib-file" accept=".bib"><br><br>
                <button type="submit">Cargar Archivo</button>
            </form>
            <div id="organized-bib">
            </div>
            <script src="/js/brechasbib.js"></script>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button id="generarSeleccion" type="button" class="btn btn-danger">Generar Selección</button>
        <script src="/js/cargarbibtablas.js"></script>
      </div>
    </div>
  </div>
</div>

<!-- FIN MODAL IMPORTAR DATOS-->



  <section class="table__body">

    <div class="font-custom">

    <h2 style="text-align: center;"> MATRIZ DE ANÁLISIS DE <em>BRECHAS DEL PROBLEMA</em></h2>

    </div>

    <table class="table_matriz table-striped">
      <section class="table__cabecera">

            <input type="button" value="Ver Instrucciones" class="btn btn-danger btn-abrir btn-primary-custom">

            <button type="button" class="btn btn-primary btn-primary-custom" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Metodología PICOC
            </button>

            <input type="button" value="Importar datos" class="btn btn-dark btn-primary-custom" data-bs-toggle="modal" data-bs-target="#ModalEstadoArte">

            <input type="submit" onclick="submitForm()" value="Guardar datos" class="btn btn-success btn-primary-custom">

          <!-- <div class="export__file">
              <label for="export-file" class="export__file-btn" title="Export File"></label>
              <input type="checkbox" id="export-file">
              <div class="export__file-options">
                  <label>Export As &nbsp; &#10140;</label>
                  <label for="export-file" id="toPDF">PDF <img src="images/pdf.png" alt=""></label>
                  <label for="export-file" id="toJSON">JSON <img src="images/json.png" alt=""></label>
                  <label for="export-file" id="toCSV">CSV <img src="images/csv.png" alt=""></label>
                  <label for="export-file" id="toEXCEL">EXCEL <img src="images/excel.png" alt=""></label>
              </div>
          </div> -->
          
        </section>

        <thead>
          <tr>
            <th scope="col">N°</th>

            <th scope="col" >Nombre de investigaciónㅤ<i style="color: rgb(255, 220, 81)" class="bi bi-question-circle-fill" data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip-class" data-bs-placement="top" data-bs-title="Título del artículo de investigación encontrado con tu ecuación en la base de datos escogida."></i></th>

            <th scope="col">DOIㅤ<i style="color: rgb(255, 220, 81)" class="bi bi-question-circle-fill" data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip-class" data-bs-placement="top" data-bs-title="Identificador único de 16 caracteres de un objeto digital, lo puedes encontrar en la página de tu artículo de investigación. Revisa la guía en el menú izquierdo de ayuda."></i></th>
            <th scope="col">Cuartil (Q)ㅤ<i style="color: rgb(255, 220, 81)" class="bi bi-question-circle-fill" data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip-class" data-bs-placement="top" data-bs-title="Se utiliza para clasificar las revistas científicas en función de su impacto. Revisa la guía en el menú izquierdo de ayuda."></i></th>
            <th scope="col">Tipo de brechaㅤ<i style="color: rgb(255, 220, 81)" class="bi bi-question-circle-fill" data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip-class" data-bs-placement="top" data-bs-title="Prueba de Tooltip 3"></i></th>
            <th scope="col">Brechas de investigaciónㅤ<i style="color: rgb(255, 220, 81)" class="bi bi-question-circle-fill" data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip-class" data-bs-placement="top" data-bs-title="Prueba de Tooltip 4"></i></th>
            <th scope="col">Tema propuestoㅤ<i style="color: rgb(255, 220, 81)" class="bi bi-question-circle-fill" data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip-class" data-bs-placement="top" data-bs-title="Prueba de Tooltip 5"></i></th>
            <th scope="col">Innovaciónㅤ<i style="color: rgb(255, 220, 81)" class="bi bi-question-circle-fill" data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip-class" data-bs-placement="top" data-bs-title="Prueba de Tooltip 6"></i></th>
          
                      </tr>
        </thead>

        <tbody>
            
                                    <!-- Fila 1 -->
        <form action="/guardar-datos-matriz-analisis" method="POST" id="FormularioGuardarDatosMatrizAnalisis">  
        {{#each datosMatriz as |item|}}

        <br><br><h1 style="text-align:center" id="Titulo" name="Titulo_Matriz">Tema de Investigación: {{item.Tema}}</h1><br>
        <input type="text" class="form-control" name="Titulo_Matriz" placeholder="Escribe tu tema de investigación...">

        <tr>
            <th scope="row">1</th>
            <td><textarea class="form-control" name="Nombre_investigacion_1">{{item.Nombre_investigacion_1}}</textarea></td>
            <td><textarea class="form-control" name="Doi_1">{{item.Doi_1}}</textarea></td>

            <td>
                <select name="Cuartil_1" class="form-control">
                  <option value="{{item.Cuartil_1}}" readonly>{{item.Cuartil_1}}</option>
                  <option value="Q1">Q1</option>
                  <option value="Q2">Q2</option>
                  <option value="Q3">Q3</option>
                  <option value="Q4">Q4</option>
                </select>
            </td>

            <td>
                <select name="Tipo_brecha_1" class="form-control">
                <option value="{{item.Tipo_brecha_1}}" readonly>{{item.Tipo_brecha_1}}</option>
                <option value="Brecha de conocimiento">Brecha de conocimiento</option>
                <option value="Brecha teórica">Brecha teórica</option>
                <option value="Brecha de evidencia contradictoria">Brecha de evidencia contradictoria</option>
                <option value="Brecha de selección de población y muestra">Brecha de selección de población y muestra</option>
                <option value="Brecha metodológica">Brecha metodológica</option>
                </select>
            </td>
            <td><textarea class="form-control" name="Brechas_inves_1">{{item.Brechas_inves_1}}</textarea></td>
            <td><textarea class="form-control" name="Resumen_1">{{item.Resumen_1}}</textarea></td>
            <td><textarea class="form-control" name="Conclusiones_1">{{item.Conclusiones_1}}</textarea></td>
            
          </tr>

                                    <!-- Fila 2 -->
              <tr>
            <th scope="row">2</th>
            <td><textarea class="form-control" name="Nombre_investigacion_2">{{item.Nombre_investigacion_2}}</textarea></td>
            <td><textarea class="form-control" name="Doi_2">{{item.Doi_2}}</textarea></td>
            
            <td>
                <select name="Cuartil_2" class="form-control">
                <option value="{{item.Cuartil_2}}" readonly>{{item.Cuartil_2}}</option>
                <option value="Q1">Q1</option>
                <option value="Q2">Q2</option>
                <option value="Q3">Q3</option>
                <option value="Q4">Q4</option>
                </select>
            </td>

            <td>
                <select name="Tipo_brecha_2" class="form-control">
                <option value="{{item.Tipo_brecha_2}}" readonly>{{item.Tipo_brecha_2}}</option>
                <option value="Brecha de conocimiento">Brecha de conocimiento</option>
                <option value="Brecha teórica">Brecha teórica</option>
                <option value="Brecha de evidencia contradictoria">Brecha de evidencia contradictoria</option>
                <option value="Brecha de selección de población y muestra">Brecha de selección de población y muestra</option>
                <option value="Brecha metodológica">Brecha metodológica</option>
                </select>
            </td>
            <td><textarea class="form-control" name="Brechas_inves_2">{{item.Brechas_inves_2}}</textarea></td>
            <td><textarea class="form-control" name="Resumen_2">{{item.Resumen_2}}</textarea></td>
            <td><textarea class="form-control" name="Conclusiones_2">{{item.Conclusiones_2}}</textarea></td>
            
          </tr>

                                    <!-- Fila 3 -->

                              <tr>
            <th scope="row">3</th>
            <td><textarea class="form-control" name="Nombre_investigacion_3">{{item.Nombre_investigacion_3}}</textarea></td>
            <td><textarea class="form-control" name="Doi_3">{{item.Doi_3}}</textarea></td>
            
            <td>
                <select name="Cuartil_3" class="form-control">
                <option value="{{item.Cuartil_3}}" readonly>{{item.Cuartil_3}}</option>
                <option value="Q1">Q1</option>
                <option value="Q2">Q2</option>
                <option value="Q3">Q3</option>
                <option value="Q4">Q4</option>
                </select>
            </td>

            <td>
                <select name="Tipo_brecha_3" class="form-control">
                <option value="{{item.Tipo_brecha_3}}" readonly>{{item.Tipo_brecha_3}}</option>
                <option value="Brecha de conocimiento">Brecha de conocimiento</option>
                <option value="Brecha teórica">Brecha teórica</option>
                <option value="Brecha de evidencia contradictoria">Brecha de evidencia contradictoria</option>
                <option value="Brecha de selección de población y muestra">Brecha de selección de población y muestra</option>
                <option value="Brecha metodológica">Brecha metodológica</option>
                </select>
            </td>
            <td><textarea class="form-control" name="Brechas_inves_3">{{item.Brechas_inves_3}}</textarea></td>
            <td><textarea class="form-control" name="Resumen_3">{{item.Resumen_3}}</textarea></td>
            <td><textarea class="form-control" name="Conclusiones_3">{{item.Conclusiones_3}}</textarea></td>
            
          </tr>

          
                                    <!-- Fila 4 -->

                              <tr>
            <th scope="row">4</th>
            <td><textarea class="form-control" name="Nombre_investigacion_4">{{item.Nombre_investigacion_4}}</textarea></td>
            <td><textarea class="form-control" name="Doi_4">{{item.Doi_4}}</textarea></td>
            
            <td>
                <select name="Cuartil_4" class="form-control">
                <option value="{{item.Cuartil_4}}" readonly>{{item.Cuartil_4}}</option>
                <option value="Q1">Q1</option>
                <option value="Q2">Q2</option>
                <option value="Q3">Q3</option>
                <option value="Q4">Q4</option>
                </select>
            </td>

            <td>
                <select name="Tipo_brecha_4" class="form-control">
                <option value="{{item.Tipo_brecha_4}}" readonly>{{item.Tipo_brecha_4}}</option>
                <option value="Brecha de conocimiento">Brecha de conocimiento</option>
                <option value="Brecha teórica">Brecha teórica</option>
                <option value="Brecha de evidencia contradictoria">Brecha de evidencia contradictoria</option>
                <option value="Brecha de selección de población y muestra">Brecha de selección de población y muestra</option>
                <option value="Brecha metodológica">Brecha metodológica</option>
                </select>
            </td>
            <td><textarea class="form-control" name="Brechas_inves_4">{{item.Brechas_inves_4}}</textarea></td>
            <td><textarea class="form-control" name="Resumen_4">{{item.Resumen_4}}</textarea></td>
            <td><textarea class="form-control" name="Conclusiones_4">{{item.Conclusiones_4}}</textarea></td>
            
          </tr>

          
                                    <!-- Fila 5 -->

                              <tr>
            <th scope="row">5</th>
            <td><textarea class="form-control" name="Nombre_investigacion_5">{{item.Nombre_investigacion_5}}</textarea></td>
            <td><textarea class="form-control" name="Doi_5">{{item.Doi_5}}</textarea></td>
            
            <td>
                <select name="Cuartil_5" class="form-control">
                <option value="{{item.Cuartil_5}}" readonly>{{item.Cuartil_5}}</option>
                <option value="Q1">Q1</option>
                <option value="Q2">Q2</option>
                <option value="Q3">Q3</option>
                <option value="Q4">Q4</option>
                </select>
            </td>

            <td>
                <select name="Tipo_brecha_5" class="form-control">
                <option value="{{item.Tipo_brecha_5}}" readonly>{{item.Tipo_brecha_5}}</option>
                <option value="Brecha de conocimiento">Brecha de conocimiento</option>
                <option value="Brecha teórica">Brecha teórica</option>
                <option value="Brecha de evidencia contradictoria">Brecha de evidencia contradictoria</option>
                <option value="Brecha de selección de población y muestra">Brecha de selección de población y muestra</option>
                <option value="Brecha metodológica">Brecha metodológica</option>
                </select>
            </td>
            <td><textarea class="form-control" name="Brechas_inves_5">{{item.Brechas_inves_5}}</textarea></td>
            <td><textarea class="form-control" name="Resumen_5">{{item.Resumen_5}}</textarea></td>
            <td><textarea class="form-control" name="Conclusiones_5">{{item.Conclusiones_5}}</textarea></td>
            
          </tr>
              {{/each}}
        </form>

        </tbody>
    </table>
  </section>


                    <!-- jQuery -->
    <script src="/js/jquery-3.7.1.min.js"></script>

    <!-- Bootstrap -->
    <script src="/js/popper.js"></script>

    <!-- Plugins -->
    <script src="/js/owl-carousel.js"></script>
    <script src="/js/scrollreveal.min.js"></script>
    <script src="/js/waypoints.min.js"></script>
    <script src="/js/jquery.counterup.min.js"></script>
    <script src="/js/imgfix.min.js"></script>

    <!-- Global Init -->
    <script src="/js/custom.js"></script>
    <script src="/js/Pop-up.js"></script>


</main>

